*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    background-color: rgb(44, 44, 44);
    padding: 20px;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoimg{
    width: 200px;
}
.menu{
    display: flex;
}
.lists{
    margin-right: 10px;
    padding: 10px;
    font-size:20px;
}