*{
    margin: 0px;
}
.head{
    color: red;
    cursor: cell;
    /* cursor: url("https://cdn.shopify.com/s/files/1/1061/1924/files/Slightly_Smiling_Face_Emoji_Icon_60x60.png?16228697460559734940"),auto; */
}